<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/profile">News</a> 
  <a href="/workouts/new">New Workout</a>
  <a href="/logout">Log Out</a>
</div> 

<h1> Welcome to your sessions! <%=@user.name%> !</h1> 

 <h3>  <%= link_to "*Create a new Session!", '/seshes/new' %>  </h3>
