

<div class="hmsplit left"> 


<div class="box hmdetails">

<span style="color:#4155A2; font-family: 'Montserrat Medium'"> Name</span>
<h1><%=@user.name%></h1>
<span style="color:#4155A2; font-family: 'Montserrat Medium'"> Email</span>
<h1><%=@user.email%></h1>

</div>


</div>
