/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* styling for all text */
body {
    padding: 14px;
    font-family: "Arial"; 
}
h1 {
  line-height: 0.2em;
  padding: 2px;
}

 /* styling for home page */

.hmsplit {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 80px;
  overflow-x: hidden;
  padding-bottom: 80px
}

.left {
  left: 0;
  overflow: scroll;
}

.right {
  right: 0;
}

 /* styling for floating boxes */

.box {
  margin: 20px; 
  border-radius: 7px; 
  padding: 20px; 
  display: block; 
  background-color: lightblue; 
}

 /* styling for new trainings, name and desc  */
.nwtrcontainter {
  display: table-row; 
}
.nwtrbox-cell {
    display: table-cell;
    width: 200px; 
    padding: 10px;  
}

 /* styling for new trainings, exercises  */
.nwtrexcontainer {
  padding: 14px;
    display: inline-grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

.nwtrexchecks:hover {
    background-color: lightblue;
}

 /* styling for top navigation bar  */
.topnav {
    overflow: hidden;
  }
.topnav a { 
  float: left; 
  color: #3446eb; 
  font-family: "Arial"; 
  font-weight: bold; 
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
} 
.topnav a:hover {
  text-decoration: underline;
  color: #ff4545; 
  font-weight: bold;
} 
.topnav a.active {
  text-decoration: underline;
  color: #ff4545;
  font-weight: bold;
}
