/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /* defining fonts */

 @font-face {  
   font-family: 'Montserrat Bold';  
   src: url('Montserrat-Bold.ttf');
  }

@font-face {  
  font-family: 'Montserrat Regular';  
  src: url('Montserrat-Regular.ttf');
  }


 /* styling for all text */

body {
    background-color: #F2F0EB; 
    padding: 30px;
    font-family: "Montserrat Regular"; 
}

h1 {
  line-height: 0.2em;
  padding: 2px;
}

.link {
  text-decoration: none; 
  color: #E93F33; 
}
.link:hover {
  text-decoration: underline; 
  color: #E93F33; 
}

/* styling for center box (login) */

.centerbox {
  max-width: 500px;
  position: absolute; 
  left: 0;
  right: 0; 
  top: 150px; 
  margin: auto; 
  text-align: center;
} 

/* styling for home page */

.hmsplit { 
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 100px;
  overflow-x: hidden;
  padding-bottom: 80px
}

.left {
  left: 0;
  overflow: scroll;
}

.right {
  right: 0;
}

 /* styling for floating boxes */

.box {
  margin: 30px; 
  border-radius: 7px; 
  padding: 20px; 
} 

.welcome{
  background-color: #4155A2; 
}

.welcome h1 {
  text-align: center;
  color: white; 
}

.hmdetails{
  background-color: #F0E1BB; 
}

.hmdetails h2{
  line-height: 0.1em;
  padding: 2px;
  text-align: center;
  color: #4155A2; }

 /* styling for new trainings, name and desc  */
.nwtrcontainter {
  display: table-row; 
}
.nwtrbox-cell {
    display: table-cell;
    width: 200px; 
    padding: 10px;  
}

 /* styling for new trainings, exercises  */
.nwtrexcontainer {
  padding: 14px;
    display: inline-grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

.nwtrexchecks:hover {
    background-color: lightblue;
}


 /* styling for top navigation bar  */
.topnav {
    margin: auto; 
    overflow: hidden; 
    padding-top: 10px; 
    padding-bottom: 20px; 
    display: flex; 
    justify-content: center
  } 

.topnav a { 
  float: left; 
  color: #706E69; 
  font-family: 'Montserrat Bold'; 
  padding: 14px 14px;
  text-decoration: none;
  font-size: 20px;
} 

.topnav a::after { 
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #E93F33;
  transition: width .3s;
}

.topnav a:hover {
  color: #E93F33;
}

.topnav a:hover:after {
  width: 100%;
} 

.topnav a.active {
  color: #4155A2;
}
